[api_keys]
reddit_secret_key = reddit_secret_key
reddit_client_id = reddit_client_id

[aws]
aws_access_key_id = aws_access_key_id
aws_secret_access_key= aws_secret_access_key
aws_region = aws_region
aws_bucket_name = aws_bucket_name

[database]
database_host = localhost
database_name = airflow_reddit
database_port = 5432
database_username = postgres
database_password = postrgres

[etl_settings]
batch_size = 100
error_handling = abort
log_level = info

[file_paths]
input_path = /opt/airflow/data/input
output_path = /opt/airflow/data/output